name: Containers

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
    types: [labeled, synchronize, opened]

jobs:
  build-containers:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: (Prod) Ensure tag exists
        if: github.ref == 'refs/heads/master' && startsWith(github.event.head_commit.message, 'release:')
        run: |
          git fetch --depth=1 origin +refs/tags/*:refs/tags/* # see https://stackoverflow.com/a/60184319/9285308

      - uses: linz/action-typescript@v3
        with:
          node-version: 24.10.0

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Setup tags
        id: version
        run: |
          GIT_VERSION=$(git describe --tags --always --match 'v*')
          GIT_VERSION_MAJOR=$(echo $GIT_VERSION | cut -d. -f1)
          GIT_VERSION_MAJOR_MINOR=$(echo $GIT_VERSION | cut -d. -f1,2)

          echo "version=${GIT_VERSION}" >> $GITHUB_OUTPUT
          echo "version_major=${GIT_VERSION_MAJOR}" >> $GITHUB_OUTPUT
          echo "version_major_minor=${GIT_VERSION_MAJOR_MINOR}" >> $GITHUB_OUTPUT

      - name: Create Image Tags
        id: tags
        uses: actions/github-script@v8
        with:
          result-encoding: string
          script: |
            const tags = [];
            if ('${{ github.ref }}' == 'refs/heads/master' && ${{ toJson(github.event.head_commit.message) }}.startsWith('release:')) {
              tags.push('ghcr.io/${{ github.repository }}/map:${{ steps.version.outputs.version }}');
            } else if (${{ toJson(github.event.pull_request.labels.*.name) }}.includes('container')) {
              tags.push('ghcr.io/${{ github.repository }}/map:pr-${{ github.event.pull_request.number }}');
            }

            return tags.join('\n');

      - name: Create docker metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          labels: org.opencontainers.image.version=${{ steps.version.outputs.version }}
            org.opencontainers.image.licenses=MIT
          tags: |
            type=sha

      - name: Build and push container
        uses: docker/build-push-action@v6
        if: steps.tags.outputs.result != ''
        with:
          file: packages/map/Dockerfile
          tags: ${{ steps.tags.outputs.result }}
          push: true
          labels: ${{ steps.meta.outputs.labels }}
          platforms: linux/amd64
          build-args: |
            GIT_HASH=${{ github.sha }}
            GIT_VERSION=${{ steps.version.outputs.version }} 
            GITHUB_RUN_ID=${{ github.run_id}}