name: Containers

on:
  release:
    types: [published]
  pull_request:
    types: [labeled]

jobs:
  build-containers:

    runs-on: ubuntu-latest

    steps:
      - uses: linz/action-typescript@v3
        with:
          node-version: 24.10.0

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Container
        uses: docker/build-push-action@v6
        with:
          context: packages/map
          tags: |
            ${{ github.event_name == 'release' && 'ghcr.io/linz/topographic-system/map' + github.ref_name }}
            ${{ github.event_name == 'pull_request' && 'ghcr.io/linz/topographic-system/map' + github.pull_request.number }}
          