name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: linz/action-typescript@v3
        with:
          node-version: 24.10.0

      - run: |
          npx lerna run bundle --stream
