name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: linz/action-typescript@v3
        with:
          node-version: 24.10.0

      - run: npx lerna run bundle --stream

      - name: Python CI
        uses: ./.github/actions/python-ci

  build-containers:
    uses: ./.github/workflows/containers.yml
    with:
      manifest: '{"map": ["latest"]}'
      push: ${{ github.ref == 'refs/heads/master' && !startsWith(github.event.head_commit.message, 'release:') }}
      environment: nonprod
    secrets: inherit
